.bodyTitulo {
    padding: 30px;
    background-image: linear-gradient(to left top, #4a8c86, #4a8c86, #4a8c86, #4a8c86, #4a8c86, #44827d, #3e7873, #386e6a, #2b5955, #1e4541, #12312f, #071f1d);
    color: white;
    margin-top: 20px;
}