* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;

}

.header {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 150px;
}

.bgHeader {
    background-color: black;

}

.marginRigthHeader {
    margin-right: 7%;
    font-size: 1.50rem;
    font-family: 'Barlow', sans-serif;
}

.headerNav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.header nav ul {

    list-style-type: none;

}

.header nav ul li {

    display: inline-block;
    font-family: 'Barlow', sans-serif;
    font-weight: 00;
    font-size: 1.25rem;
    margin-right: 10px;

}

.marginLogo {

    margin-left: 15px;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #EEEDF0;
}



.bodyImagenPrincipal {
    padding-top: 100px;
    background-image: url("../Imagenes varias/imagen index.jpg");
    background-size: cover;
    height: 701px;
    background-position: center;

}


.bodyQuienesSomos {
    height: 700px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.quienesSomosContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 400px;
}

.quienesSomosCuerpoIzquierda {

    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;


}

.quienesSomosCuerpoIzquierda h2 {
    padding: 30px;
    text-align: center;
}

.quienesSomosCuerpoIzquierda p {
    text-align: center;
    line-height: 1, 5;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;

    margin-bottom: 50px;
}




.quienesSomosEnlace {
    align-self: center;
    color: white;
    padding-right: 30px;
    border: 1px solid black;
    padding: 10px;
    background-color: #4A8C86;
    border-radius: 15px;
    transition: transform 5sg;
    height: 40px;
}

.quienesSomosEnlace:hover {
    color: black;
    background-color: black;

}

.bodyQuienesSomosImagen {
   
    margin-right: 60px;
    
    max-width: 100%;
    width: 100%;

}


.bodyNuestrosServicios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    background-color: #4A8C86;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2;
    text-align: center;
    color: white
}

.bodyNuestrosServicios h2 {
    padding: 30px;
}


.NuestrosServiciosContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
    height: 400px;
    align-items: center;
}

.nuestrosServiciosDiseño {
    width: 29%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-around;


}

.imagenServiciosCoaching {
    height: 105px;
    width: 55px;
    margin-bottom: 10px;
}


.imagenServiciosDiseño {
    width: 100px;
    height: 80px;
    margin-bottom: 20px;
}

.imagenServiciosAudiovisual {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}




.nuestrosServiciosAudiovisual {
    width: 29%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.paddingServicios {
    padding: 15px;

}

.nuestrosServiciosCoaching {
    width: 29%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;


}


.nuestrosServiciosEnlace {
    color: whblite;
    border: 1px solid black;
    background-color: black;
    align-self: center;
    color: white;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    height: 40px;
    margin-bottom: 20px;
    margin-top:30px;

}

.nuestrosServiciosEnlace:hover {
    color: black;
    background-color: #4A8C86;


}

.footer {

    padding: 30px;
    background-color: black;
    color: white;

}

.footerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 30px;
}


.footerMapa {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.paddingNone {
    padding: 0%;

}

.footerMapa h5 {
    text-align: center;
    text-decoration: underline;
}

.footerMapa ul li {
    text-decoration: none;
    list-style-type: none;



}


.footerContacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.footerContacto ul li {
    text-decoration: none;
    list-style-type: none;

}

.footerContacto h5 {
    text-decoration: underline;
}

.footerRedesSociales h5 {
    text-decoration: underline;

}

.logoRSFooter {
    padding: 5px;

}




/* Estilos /Contacto */

.contactoBodyFormulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.containerFormularioContacto {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
    align-content: str;
}

.formulario {
    display: flex;
    flex-direction: column;
}


.bodyTitulo {
    padding: 30px;
    background-color: #4A8C86;
    color: white;
    margin-top: 20px;
}

.contactoFormularioNombre {
    padding: 10px;
    background-color: #EEEDF0;
    border-color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5;

}

.contactoFormularioNombre label {
    display: none;
}

.contactoFormularioEmail {
    padding: 10px;
    background-color: #EEEDF0;
    border-color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5;

}

.contactoFormularioEmail label {
    display: none;
}

/* .contactoFormularioEmail input {} */

.contactoFormularioDesplegable {
    padding: 10px;
}

.contactoFormularioTextArea {
    padding: 10px;
    margin-top: 20px;
    background-color: #EEEDF0;
    resize: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5;
}

.contactoBodyFormulario form label {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;

}

/* .contactoBodyFormulario form input {
    background-color: #EEEDF0;
    border-color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5;
}
 */
/* .contactoBodyFormulario form select {
    background-color: #EEEDF0;
}

.contactoBodyFormulario form textarea {
    margin-top: 20px;
    background-color: #EEEDF0;
    resize: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5;
}
 */
.contactoBodyMap {
    margin-top: 150px;
    background-color: #EEEDF0;

}

.contactoBodyMapContainer {
    display: flex;
    flex-flow: column nowrap;
}

.contactoBodyMapContacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contactoBodyMapMapa {
    width: 100%;
    height: 100%;
    position: relative;
}

.contactoBodyMap p {
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 20px;
}

.contactoBodyMap iframe {
    padding: 20px;
    border-bottom: 10 px solid black;
}


/* trabajos.html */

.trabajosSeccionGaleria {
    height: 500px;
}

.trabajosGaleriaGridContainer {
    margin-top: 100px;
    display: grid;
    height: 400px;
    grid-template-areas:
        "foto1 foto2 foto3 foto4"
        "foto1 foto5 foto6 foto7"
        "foto8 foto5 foto9 foto7"
        "foto10 foto11 foto11 foto12"
        "foto13 foto11 foto11 foto12"
}

.trabajosGaleriaGridContainer div {
    border: 1px solid black;
    color: white;
    background-color: lightblue;
}

.trabajoGaleriaDiv1 {
    grid-area: foto1;
}

.trabajoGaleriaDiv2 {
    grid-area: foto2;
}

.trabajoGaleriaDiv3 {
    grid-area: foto3
}

.trabajoGaleriaDiv4 {
    grid-area: foto4
}

.trabajoGaleriaDiv5 {
    grid-area: foto5
}

.trabajoGaleriaDiv6 {
    grid-area: foto6
}

.trabajoGaleriaDiv7 {
    grid-area: foto7
}

.trabajoGaleriaDiv8 {
    grid-area: foto8
}

.trabajoGaleriaDiv9 {
    grid-area: foto9
}

.trabajoGaleriaDiv10 {
    grid-area: foto10
}

.trabajoGaleriaDiv11 {
    grid-area: foto11
}

.trabajoGaleriaDiv12 {
    grid-area: foto12
}

.trabajoGaleriaDiv13 {
    grid-area: foto13;
}





@media screen and (max-width: 1200px) {

    .quienesSomosContainer {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;

    }


    .bodyQuienesSomos {
        height: 900px;

    }

    .quienesSomosCuerpoIzquierda {
        order: 2;
    }

    .quienesSomosCuerpoIzquierda p {
        width: 75%;
    }




    .quienesSomosCuerpoIzquierda {
        width: 100%;
    }

    .header nav ul {

        width: 100%;
    }

    .NuestrosServiciosContainer {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        height: 1000px;

    }


    .nuestrosServiciosDiseño {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nuestrosServiciosCoaching {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nuestrosServiciosAudiovisual {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}




@media screen and (max-width: 800px) {

    .TamañoLogo {
        display: none;
    }


    .bodyQuienesSomos {
        height: 900px;

    }


    .bodyNuestrosServicios {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        height: 1300px;
    }

    .NuestrosServiciosContainer {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        height: 5000px;

    }

}