* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;

}

a:hover {
    color: #4a8c86;
}

.navbar .nav-item:hover .nav-link {
    color: #4a8c86;
}

.bgHeader {
    background-color: black;

}

.marginRigthHeader {
    margin-right: 7%;
    font-size: 1.50rem;
    font-family: 'Barlow', sans-serif;
}

.marginLogo {

    margin-left: 15px;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #EEEDF0;
}



.bodyImagenPrincipal {
    padding-top: 100px;
    background-image: url("../Imagenes varias/imagen index.jpg");
    background-size: cover;
    height: 701px;
    background-position: center;

}


.bodyQuienesSomos {
    height: 700px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.quienesSomosContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 400px;
}

.quienesSomosCuerpoIzquierda {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;


}

.quienesSomosCuerpoIzquierda h2 {
    padding: 30px;
    text-align: center;
}

.quienesSomosCuerpoIzquierda p {
    text-align: center;
    line-height: 1, 5;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;

    margin-bottom: 50px;
}




.bodyNuestrosServicios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 3px black;
    background-color: #4A8C86;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2;
    text-align: center;
    color: white
}


.tituloNuestrosServicios {
    margin-top: 70px;
    width: 320px;
    border-bottom: solid 5px white;
}


.NuestrosServiciosContainer {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 50px;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.nuestrosServiciosDiseño {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-around;


}

.imagenServiciosCoaching {
    height: 105px;
    width: 55px;
    margin-bottom: 10px;
}


.imagenServiciosDiseño {
    width: 100px;
    height: 80px;
    margin-bottom: 20px;
}

.imagenServiciosAudiovisual {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;

}




.nuestrosServiciosAudiovisual {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}


.paddingServicios {
    padding: 15px;

}

.nuestrosServiciosCoaching {
    width: 40%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.btn:hover {
    background-color: white;
    color: black;
}

.buttonRadiousAndMore {
    border-radius: 6px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 40px;
}

.divEnlaceServicios {
    margin-bottom: 30px;

}


.tituloServicios {
    width: 300px;
    border-bottom: solid 3px white;
    margin-bottom: 10px;
}

.footer {

    padding: 30px;
    background-color: black;
    color: white;

}

.footerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 30px;
}


.footerMapa {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.paddingNone {
    padding: 0%;

}

.footerMapa h5 {
    text-align: center;
    text-decoration: underline;
}

.footerMapa ul li {
    text-decoration: none;
    list-style-type: none;

}




.footerContacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.footerContacto ul li {
    text-decoration: none;
    list-style-type: none;

}

.footerContacto h5 {
    text-decoration: underline;
}

.footerRedesSociales h5 {
    text-decoration: underline;

}

.logoRSFooter {
    padding: 5px;

}

.logoRSFooter:hover {
    opacity: 0.5;
}


/* Estilos /Contacto */


.bodyTitulo {
    padding: 30px;
    background-image: linear-gradient(to left top, #4a8c86, #4a8c86, #4a8c86, #4a8c86, #4a8c86, #44827d, #3e7873, #386e6a, #2b5955, #1e4541, #12312f, #071f1d);
    color: white;
    margin-top: 20px;
}




.containerPrincipal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    width: 100%;
    height: 600px;
}



.sectionFormulario {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.containerFormularioContacto {
    padding: 30px;
    width: 650px;

}

.form-control::placeholder {
    color: black;
    opacity: 1;
}

.labelBGAndMore {
    border-color: black;
}

.contactoBodyMap {
    margin-top: 50px;
    background-color: #EEEDF0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    width: 50%;

}



.contactoBodyMapContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    width: 100%;
}

.contactoBodyMapContacto {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;

}



.divContacto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

}





.contactoBodyMapMapa {
    width: 100%;
    height: 80%;
    border: 1px solid black;

}

.contactoBodyMap p {

    font-size: 1rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    font-family: 'Barlow', sans-serif;

}

.contactoBodyMap iframe {
    padding: 20px;
    border-bottom: 10 px solid black;
}


/* trabajos.html */

.trabajosContainerPrincipal {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* servicios html */

.sectionDiseñoGrafico {
    margin-top: 50px;
    height: 381px;
    background-color: #EEEDF0;
}

.containerDiseñoGrafico {
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}


.imagenDiseñoGrafico {
    margin-left: 20px;
}

.imagenDiseñoGrafico:hover {
    opacity: 0.7;

}

.cuerpoTextoDiseñoGrafico h5 {

    font-weight: bold;

}

.cuerpoTextoDiseñoGrafico p {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 1.20rem;
}

.tituloDiseñoGrafico {
    width: 190px;
    border-bottom: solid 2px black;
    margin-bottom: 20px;
}

.cuerpoTextoDiseñoGrafico {
    width: 65%;
    margin-left: 70px;
    padding-top: 10px;
}

.buttonServicios {
    margin-top: 30px;

}

.sectionCoachingVocal {
    height: 400px;
    background-color: #4A8C86;

}

.containerCoachingVocal {
    height: 380px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.cuerpoTextoCoachingVocal {
    width: 65%;
    margin-left: 70px;
    color: #EEEDF0;
    padding-top: 20px;
}

.cuerpoTextoCoachingVocal p {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 1.20rem;
}

.tituloCoachingVocal {

    width: 200px;
    border-bottom: solid 2px #EEEDF0;
    margin-bottom: 30px;
}

.cuerpoTextoCoachingVocal h5 {
    font-weight: bold;
}


.sectionProduccionAudiovisual {
    height: 400px;
    background-color: #EEEDF0;
}

.containerProduccionAudiovisual {
    height: 380px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.tituloProduccionAudiovisual {
    padding-top: 15px;
    width: 300px;
    border-bottom: solid 2px black;
    margin-bottom: 20px;
}

/* Nosotros html */

.nosotrosContainerPrincipal {
    margin-top: 60px;
    padding: 20px;
    height: 850px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;



}

.cuerpoTextoIzquierda {
    width: 50%;
    height: 600px;
    color: black;
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    line-height: 2;

}

.tituloCuerpoTextoIzquierda {
    width: 240px;
    border-bottom: solid 5px #4A8C86;
    margin-bottom: 20px;
}

.misionCuerpoTextoIzquierda {
    width: 80px;
    border-bottom: solid 5px #4A8C86;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagenNosotrosDerecha {
    margin-right: 30px;
}



@media screen and (max-width: 1300px) {

    .quienesSomosContainer {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;

    }



    .containerPrincipal {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-around;
        width: 100%;
        height: 1000px;
    }

    .contactoBodyMap {
        width: 800px;


    }

    .contactoBodyMapMapa {

        width: 800px;

    }

    .contactoBodyMapContacto {
        width: 100%;
        display: flex;
        flex: row;
        justify-content: space-around;
        align-items: flex-end;
    }

    .bodyQuienesSomos {
        height: 900px;

    }

    .quienesSomosCuerpoIzquierda {
        order: 2;
    }

    .quienesSomosCuerpoIzquierda p {
        width: 75%;
    }




    .quienesSomosCuerpoIzquierda {
        width: 100%;
    }

    .header nav ul {

        width: 100%;
    }

    .NuestrosServiciosContainer {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        height: 1000px;

    }


    .nuestrosServiciosDiseño {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .nuestrosServiciosCoaching {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .nuestrosServiciosAudiovisual {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .divEnlaceServicios {
        margin-top: 0%;
    }

    .containerDiseñoGrafico {
        height: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .sectionDiseñoGrafico {
        margin-top: 50px;
        height: 600px;
        background-color: #EEEDF0;
    }

    .cuerpoTextoDiseñoGrafico {
        margin-top: 40px;
        width: 90%;
    }


    .sectionCoachingVocal {
        height: 600px;
        background-color: #4A8C86;

    }

    .containerCoachingVocal {
        height: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .cuerpoTextoCoachingVocal {
        margin-top: 40px;
        width: 90%;
    }

    .sectionProduccionAudiovisual {
        height: 600px;

    }

    .containerProduccionAudiovisual {
        height: 680px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .nosotrosContainerPrincipal {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 1600px;
    }

    .cuerpoTextoIzquierda {
        margin-top: 0px;
        width: 80%;
        order: 2;
    }

    .imagenNosotrosDerecha {
        margin-top: -50px;
        width: 400px;
        height: 370px;
    }
}




@media screen and (max-width: 800px) {

    .TamañoLogo {
        display: none;
    }


    .bodyQuienesSomos {
        height: 500px;

    }


    .bodyNuestrosServicios {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        height: 1500px;
        font-size: 1rem;
    }



    .NuestrosServiciosContainer {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        height: 5000px;
        width: 100%;

    }

    .NuestrosServiciosContainer {
        width: 100%;
    }


    .divEnlaceServicios {
        margin-top: 0%;
    }


    .contactoBodyMapContacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .contactoBodyMapMapa {

        width: 100%;

    }

    .containerFormularioContacto {
        margin-top: 40px;
        width: 500px;
    }

    .containerPrincipal {
        height: 1300px;
    }


    .containerDiseñoGrafico {
        height: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .cuerpoTextoDiseñoGrafico {
        width: 480px;
        height: 500px;
        margin-left: 10px;

    }

    .sectionCoachingVocal {
        height: 700px;
    }

    .containerCoachingVocal {
        height: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .cuerpoTextoCoachingVocal {
        width: 480px;
        height: 500px;
        margin-left: 10px;

    }

    .sectionProduccionAudiovisual {
        height: 700px;
    }

    .containerProduccionAudiovisual {
        height: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .nosotrosContainerPrincipal {
        margin-top: -350px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-start;
        height: 2400px;
    }

    .cuerpoTextoIzquierda {
        margin-top: -500px;
        width: 80%;
        order: 2;
    }

    .imagenNosotrosDerecha {
        margin-left: 0px;
        width: 250px;
        height: 231px;
    }

    .footerContainer {
        display: flex;
        flex-direction: column;
    }

    .widthGallery {
        width: 80%;
    }

    .sectionFormulario {
        width: 100%;
    }
    
    .containerFormularioContacto {
        width: 100%;
    }

    .contactoBodyMap {
        width: 80%;
    }

    .divContacto {
        width: 100%;
    }

    .divContacto p {
        font-size: 16px;
        padding-bottom: 20px;
        
    }

    .bodyQuienesSomosImagen {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    .bodyQuienesSomosImagen {
        .width 80%;
    }

    .footerContainer {
        font-size: 1rem;
    }

    .nosotrosContainerPrincipal {
        height: 1700px;
    }

    .cuerpoTextoIzquierda {
        font-size: 1rem;

        margin-top: -200px;

    }

    .imagenNosotrosDerecha {
        display: none;
    }

}